
@font-face {
  font-family: '04b30';
  src: url('../fonts/04b_30__-webfont.woff2') format('woff2'),
       url('../fonts/04b_30__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'audiowide';
    src: url('../fonts/Audiowide-Regular.ttf');
}

*{
  font-family: audiowide;
  margin:0;
  padding:0;
}



h1 {
  font-size:24px; text-align:center; line-height:32px; color:#e01a52; display:block;
  padding-bottom:24px;
}

div {
  position:absolute; top:0px; left:0px; right:0px; bottom:0px;
  font-size:24px; color:#541a3d; background:white;
  text-align:center; line-height:32px; padding-top:64px;
}

body #MainGame-Menu{background-color: #fcdbdb}

#MainGame-Menu, #gameCanvas{
  margin-top: 0px;
  padding: 9px;
}


a {
  text-decoration:none; display:block; color:#541a3d; padding: 5px;
}

a:hover {
  color:#e01a52;
}
